name: CI

on:
  push:
    branches-ignore:
      - 'gh-readonly-queue/**' # don't run (again) when on these special branches created during merge groups; the `on: merge_group` already triggers it.
  merge_group:

env:
  PYTHONUNBUFFERED: True
  PRE_COMMIT_HOME: ${{ github.workspace }}/.precommit_cache

permissions:
    id-token: write
    contents: write # needed for mutex, and updating dependabot branches
    statuses: write # needed for updating status on Dependabot PRs

jobs:
  get-values:
    uses: ./.github/workflows/get-values.yaml

  lint:
    needs: [ get-values ]
    name: Pre-commit
    uses: ./.github/workflows/pre-commit.yaml
    with:
      python-version: 3.13.1

  unit-test:
    needs: [ lint ]
    runs-on: ubuntu-24.04
    env:
      BLARG: ${{ secrets.BLARG }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.2

      - name: Install latest versions of python packages
        uses: ./.github/actions/install_deps
        with:
          python-version: 3.13.1

      - name: Unit test
        run: uv run pytest tests/unit --cov-report=xml --durations=5

  iac-management-pulumi:
    uses: ./.github/workflows/pulumi-aws.yml
    needs: [ unit-test ]
    with:
      AWS_REGION: us-east-1
      PULUMI_STACK_NAME: prod
      PYTHON_VERSION: 3.13.1
      DEPLOY_SCRIPT_MODULE_NAME: aws_central_infrastructure.iac_management.lib
      DEPLOY_SCRIPT_NAME: pulumi_deploy
      PULUMI_PREVIEW: true
      PREVIEW_ROLE_NAME: InfraPreview--aws-central-infrastructure
      PULUMI_UP: ${{ github.ref == 'refs/heads/main' }}
      PULUMI_UP_ROLE_NAME: InfraDeploy--aws-central-infrastructure
      AWS_ACCOUNT_ID: "038462771856"

  github-repos-pulumi:
    uses: ./.github/workflows/pulumi-aws.yml
    needs: [ unit-test ]
    with:
      AWS_REGION: us-east-1
      PULUMI_STACK_NAME: prod
      PYTHON_VERSION: 3.13.1
      DEPLOY_SCRIPT_MODULE_NAME: aws_central_infrastructure.github_repos.lib
      DEPLOY_SCRIPT_NAME: pulumi_deploy
      PULUMI_PREVIEW: true
      PREVIEW_ROLE_NAME: InfraPreview--aws-central-infrastructure
      PULUMI_UP: ${{ github.ref == 'refs/heads/main' }}
      PULUMI_UP_ROLE_NAME: InfraDeploy--aws-central-infrastructure
      AWS_ACCOUNT_ID: "038462771856"

  central-networking-pulumi:
    uses: ./.github/workflows/pulumi-aws.yml
    needs: [ iac-management-pulumi ]
    with:
      AWS_REGION: us-east-1
      PULUMI_STACK_NAME: prod
      PYTHON_VERSION: 3.13.1
      DEPLOY_SCRIPT_MODULE_NAME: aws_central_infrastructure.central_networking.lib
      DEPLOY_SCRIPT_NAME: pulumi_deploy
      PULUMI_PREVIEW: true
      PREVIEW_ROLE_NAME: InfraPreview--aws-central-infrastructure
      PULUMI_UP: ${{ github.ref == 'refs/heads/main' }}
      PULUMI_UP_ROLE_NAME: InfraDeploy--aws-central-infrastructure
      AWS_ACCOUNT_ID: "038462771856"

  artifact-stores-pulumi:
    uses: ./.github/workflows/pulumi-aws.yml
    needs: [ iac-management-pulumi, central-networking-pulumi ] # spinning up AMI builders depends on central-networking
    with:
      AWS_REGION: us-east-1
      PULUMI_STACK_NAME: prod
      PYTHON_VERSION: 3.13.1
      DEPLOY_SCRIPT_MODULE_NAME: aws_central_infrastructure.artifact_stores.lib
      DEPLOY_SCRIPT_NAME: pulumi_deploy
      PULUMI_PREVIEW: true
      PREVIEW_ROLE_NAME: InfraPreview--aws-central-infrastructure
      PULUMI_UP: ${{ github.ref == 'refs/heads/main' }}
      PULUMI_UP_ROLE_NAME: InfraDeploy--aws-central-infrastructure
      AWS_ACCOUNT_ID: "038462771856"


  identity-center-pulumi:
    uses: ./.github/workflows/pulumi-aws.yml
    needs: [ iac-management-pulumi, artifact-stores-pulumi ] # Identity Center depends on outputs from the Artifact Stores stack to set up permission sets
    with:
      AWS_REGION: us-east-1
      PULUMI_STACK_NAME: prod
      PYTHON_VERSION: 3.13.1
      DEPLOY_SCRIPT_MODULE_NAME: aws_central_infrastructure.identity_center.lib
      DEPLOY_SCRIPT_NAME: pulumi_deploy
      PULUMI_PREVIEW: true
      PREVIEW_ROLE_NAME: InfraPreview--aws-central-infrastructure--identity-center
      PULUMI_UP: ${{ github.ref == 'refs/heads/main' }}
      PULUMI_UP_ROLE_NAME: InfraDeploy--aws-central-infrastructure--identity-center
      AWS_ACCOUNT_ID: "872515268414"

  required-check:
    runs-on: ubuntu-24.04
    needs:
      - get-values
      - iac-management-pulumi
      - artifact-stores-pulumi
      - central-networking-pulumi
      - identity-center-pulumi
      - github-repos-pulumi
    if: always()
    steps:
      - name: fail if prior job failure
        if: needs.iac-management-pulumi.result != 'success' || needs.artifact-stores-pulumi.result != 'success' || needs.central-networking-pulumi.result != 'success' || needs.identity-center-pulumi.result != 'success' || needs.github-repos-pulumi.result != 'success'
        run: |
          exit 1
      - name: Mark updated Dependabot commit of devcontainer hash as succeeded
        if: needs.get-values.outputs.dependabot-commit-created == 'true'
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh api \
            -X POST -H "Accept: application/vnd.github.v3+json" \
            "/repos/${{ github.repository }}/statuses/${{ needs.get-values.outputs.new-dependabot-sha }}" \
            -f state=success -f context="required-check" -f description="Initial CI run passed" \
            -f target_url="${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
